@page
@model ContosoUniversity.Pages.Instructors.CreateModel

@{
    ViewData["Title"] = "Create Instructor";
}

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Create Instructor</h3>
    </div>

    <form method="post">
        <div class="card-body">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Instructor.LastName"></label>
                <input asp-for="Instructor.LastName" class="form-control" />
                <span asp-validation-for="Instructor.LastName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Instructor.FirstMidName"></label>
                <input asp-for="Instructor.FirstMidName" class="form-control" />
                <span asp-validation-for="Instructor.FirstMidName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Instructor.HireDate"></label>
                <input asp-for="Instructor.HireDate" class="form-control" />
                <span asp-validation-for="Instructor.HireDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Instructor.OfficeAssignment.Location"></label>
                <input asp-for="Instructor.OfficeAssignment.Location" class="form-control" />
                <span asp-validation-for="Instructor.OfficeAssignment.Location" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Assigned Courses</label>

                <table class="table table-bordered table-striped">
                    <tr>
                        @{
                            int cnt = 0;

                            foreach (var course in Model.AssignedCourseDataList)
                            {
                                if (cnt++ % 3 == 0)
                                {
                                    @:</tr><tr>
                                }

                                @:<td>
                                    <input type="checkbox"
                                           name="selectedCourses"
                                           value="@course.CourseID"
                                           @(Html.Raw(course.Assigned ? "checked=\"checked\"" : "")) />
                                           @($"{course.CourseID} - {course.Title}")
                                @:</td>
                            }
                        }
                    </tr>
                </table>
            </div>

        </div>

        <div class="card-footer">
            <input type="submit" value="Create" class="btn btn-primary" />
            <a asp-page="Index" class="btn btn-secondary">Back</a>
        </div>
    </form>
</div>