@page
@model ContosoUniversity.Pages.Students.EditModel

@{
    ViewData["Title"] = "Edit Student";
}

<div class="card card-warning">
    <div class="card-header">
        <h3 class="card-title">Edit Student</h3>
    </div>

    <form method="post">
        <div class="card-body">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Student.ID" />

            <div class="form-group">
                <label asp-for="Student.LastName"></label>
                <input asp-for="Student.LastName" class="form-control" />
                <span asp-validation-for="Student.LastName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Student.FirstMidName"></label>
                <input asp-for="Student.FirstMidName" class="form-control" />
                <span asp-validation-for="Student.FirstMidName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Student.EnrollmentDate"></label>
                <input asp-for="Student.EnrollmentDate" class="form-control" />
                <span asp-validation-for="Student.EnrollmentDate" class="text-danger"></span>
            </div>

        </div>

        <div class="card-footer">
            <input type="submit" value="Save" class="btn btn-warning" />
            <a asp-page="./Index" class="btn btn-secondary">Back</a>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}