@page
@model ContosoUniversity.Pages.Courses.EditModel

@{
    ViewData["Title"] = "Edit Course";
}

<div class="card card-warning">
    <div class="card-header">
        <h3 class="card-title">Edit Course</h3>
    </div>

    <form method="post">
        <div class="card-body">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Course.CourseID" />

            <div class="form-group">
                <label asp-for="Course.CourseID"></label>
                <input value="@Model.Course.CourseID"
                       class="form-control"
                       readonly />
            </div>

            <div class="form-group">
                <label asp-for="Course.Title"></label>
                <input asp-for="Course.Title" class="form-control" />
                <span asp-validation-for="Course.Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Course.Credits"></label>
                <input asp-for="Course.Credits" class="form-control" />
                <span asp-validation-for="Course.Credits" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Course.DepartmentID"></label>
                <select asp-for="Course.DepartmentID"
                        class="form-control"
                        asp-items="@Model.DepartmentNameSL">
                </select>
                <span asp-validation-for="Course.DepartmentID" class="text-danger"></span>
            </div>

        </div>

        <div class="card-footer">
            <input type="submit" value="Save" class="btn btn-warning" />
            <a asp-page="./Index" class="btn btn-secondary">Back</a>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}